# Archivos de Compilación de Visual Studio
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/

# Archivos de Usuario y Caché de Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# Archivos temporales del sistema operativo
Thumbs.db
ehthumbs.db
.DS_Store

# Paquetes NuGet
packages/
*.nupkg